<% current_business = @business || business %>
<div class="row card business">
  <div class='col-xs-12 text-xs-center'>
    <%= link_to current_business do %>
      <%= image_tag current_business.profile_picture.url(:medium),
        class: "img-fluid logo img-thumbnail" %>
    <% end %>
  </div>
  <div class="col-xs-12 business-info-minimal text-xs-center">
    <hr/>
    <h4><%= link_to current_business.name, current_business %></h4>
    <%= simple_format(current_business.address) %>
    Phone: <%= current_business.phone_number %>
    <br />
    <br />
  </div>
</div>
