<% current_business = @business || business %>
<div class="business">
  <div class="row">
    <div class="col-md-3 offset-md-1">
      <% if current_business.profile_picture? %>
        <%= image_tag current_business.profile_picture.url(:medium), class: "img-thumbnail picture hidden-sm-down" %>
        <%= image_tag current_business.profile_picture.url(:medium), class: "img-thumbnail hidden-md-up picture-mob" %>
      <% else %>
        <%= image_tag("icon",class: "img-thumbnail picture hidden-sm-down") %>
        <%= image_tag("icon",class: "img-thumbnail hidden-md-up picture-mob") %>
      <% end %>
    </div>
    <div class="col-md-8  col-xs-12 business-frame">
      <div class="business-info">
        <h2><%= current_business.name %></h2>
        <hr/>
        <p><%= current_business.description %></p>
        <p><i class="fa fa-lg fa-phone icon-info"></i><%= current_business.phone_number %></p>
        <p><i class="fa fa-lg fa-home icon-info"></i><%= current_business.address %></p>
        <br/>
      </div>
      <div>
        <center>
          <%= link_to 'Edit Your Business', edit_business_path(@business), class: 'btn btn-primary'%>
        </center>
      </div>
    </div>
  </div>
</div>
