<% current_business = @business || business %>
<div class="row card business">
  <div class="card-header">
    <b><%= current_business.name %></b>
  </div>
  <%if current_business.profile_picture? %>
    <%= image_tag current_business.profile_picture.url(:large), class: "img-thumbnail picture-minimal" %>
  <%else%>
    <%= image_tag("icon",large: "img-thumbnail picture-minimal") %>
  <%end%>
  <div class="card-block">
    <div class="business-info-minimal">
      <p><i class="fa fa-lg fa-phone icon-info"></i><%= current_business.phone_number %></p>
      <p><i class="fa fa-lg fa-home icon-info"></i><%= current_business.address %></p>
    </div>
  </div>
</div>
