<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Edit Business</h1>
    </center>
  </div>
</div>
<div class="spacer-40"></div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @business, url: {action: 'update'}, html: { multipart: true } do |f| %>
    <div class="<%= ('has-danger' if @business.errors[:profile_picture].any?) %> form-group row">
      <%= f.label :profile_picture %>
      <%= f.file_field :profile_picture, placeholder: 'Business profile', class: 'form-control' %>
      <% @business.errors[:profile_picture].each do |error| %>
        <div class="form-control-feedback">
          <%= error %>
        </div>
      <% end %>
    </div>
      <div class="<%= ('has-danger' if @business.errors[:name].any?) %> form-group row">
        <%= f.text_field :name, placeholder: 'Business name', class: 'form-control' %>
        <% @business.errors[:name].each do |error| %>
          <div class="form-control-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="<%= ('has-danger' if @business.errors[:phone_number].any?) %> form-group row">
        <%= f.telephone_field :phone_number, placeholder: 'Business phone number', class: 'form-control' %>
        <% @business.errors[:phone_number].each do |error| %>
          <div class="form-control-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="<%= ('has-danger' if @business.errors[:address].any?) %> form-group row">
        <%= f.text_area :address, placeholder: 'Business address', class: 'form-control' %>
        <% @business.errors[:address].each do |error| %>
          <div class="form-control-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="form-group row">
        <%= f.text_area :description, placeholder: 'Cool caption of your business',rows: 10, class: 'form-control' %>
      </div>
      <div class="form-group text-xs-center">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
        <%= link_to 'Cancel' , businesses_show_path, class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
