<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Create Business</h1>
    </center>
  </div>
</div>
<div class="spacer-40"></div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @business, url: {action: 'create'} do |f| %>
      <div class="<%= ('has-danger' if @business.errors[:name].any?) %> form-group">
        <%= f.text_field :name, placeholder: 'Business name', class: 'form-control' %>
        <% @business.errors[:name].each do |error| %>
          <div class="form-control-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.text_area :description, placeholder: 'Cool caption of your business',rows: 10, class: 'form-control' %>
      </div>
      <div class="form-group text-xs-center">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
