.row
  .col-xs-12
    %center
      %h1 Create Business
.spacer-40
.row
  .col-xs-12
    = form_for @business, url: {action: 'create'} do |f|
      .form-group{class: ('has-danger' if @business.errors[:name].any?)}
        = f.text_field :name, placeholder: 'Business name', class: 'form-control'
        - @business.errors[:name].each do |error|
          .form-control-feedback
            = error
      .form-group
        = f.text_area :description, placeholder: 'Cool caption of your business',
         rows: 10, class: 'form-control'
      .form-group.text-xs-center
        = f.submit 'Submit', class: 'btn btn-primary'
