<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <%= link_to(root_path, class: 'navbar-brand', id: 'openplay-logo') do %>
    <%= image_tag('logo') %>
  <% end %>

  <% if user_signed_in? %>
    <div class="btn-group pull-xs-right">
      <button type="button" class="btn dropdown-toggle nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <% if manages_business? %>
          <%= link_to('Your Business Info', current_user.business,
            class: 'nav-link dropdown-item') %>
        <%end%>
        <%= link_to('Your Bookings', user_reservations_path(current_user), class: 'nav-link dropdown-item') %>
        <%= link_to('Your Profile', user_path(current_user), class: 'nav-link dropdown-item') %>
        <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: 'nav-link dropdown-item') %>
      </div>
    </div>

    <% if manages_business? %>
      <ul class="nav navbar-nav">
        <li class="nav-item pull-xs-right">
          <%= link_to 'Manage Business', business_activities_path(current_user.business), class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  <% else %>
    <ul class="nav navbar-nav">
      <li class="nav-item pull-xs-right">
        <%= link_to('Sign In', new_user_session_path, class: 'nav-link') %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= link_to('Sign Up', new_user_registration_path, class: 'nav-link') %>
      </li>
      <li class="nav-item pull-xs-right">
        <%= mail_to('David.Emery@openplay.io', 'Contact Us', class: 'nav-link') %>
      </li>
    </ul>

  <% end %>
</nav>
