<div class="reservable" id='<%= "reservable_#{reservable.id}" %>'>
  <div class='card'>
    <div class='card-block'>
      <h5 class="card-title reservable-name"><%= reservable.name %></h5>
      <h6 class='card-subtitle text-muted'>
        (<%= maximum_players(reservable) %> max of people)
      </h6>
      <p class='card-text'><%= reservable.description %></p>
      <div class="row-times" data-slick='{"initialSlide":
        <%= requested_time_slot_index(reservable, @booking_date, @booking_time) %>}'>
        <% i = 0 %>
        <% build_time_slots(reservable, @booking_date).each do |slot| %>
          <div>
            <%= button_tag(type: 'button', class: 'btn btn-danger btn-3d timeslot ' +
              booked_by_current_user(slot),
              data: {
                activity_id: reservable.activity_id,
                reservable_id: reservable.id,
                interval: reservable.interval,
                selected_reservable: reservable.name,
                slot: i+=1
              },
              id: "timeslot-#{reservable.activity_id}-#{reservable.id}-#{i}",
              disabled: !slot[:booking_info][:available]) do %>
                <%= slot[:time].strftime("%H:%M") %>
            <% end %>
            <%= check_box_tag 'time_slots[' + reservable.id.to_s + '][]',
              "#{slot[:time].strftime("%H:%M")},#{(slot[:time] +
              reservable.interval.minutes).strftime("%H:%M")}",
              false, class: 'checkbox-hidden',
              id: "#{reservable.activity_id}-#{reservable.id}-#{i}" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
