<%= render partial: 'title', locals: { title: 'Edit Profile' } %>

<%= form_for @user, html: {id: 'edit_user_form'} do |f| %>

  <div class='form-group row'>
    <%= f.label :email, class: 'col-xs-2 col-form-label' %>
    <div class='col-xs-10'>
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class='form-group row'>
  <%= f.label :first_name, class: 'col-xs-2 col-form-label' %>
    <div class='<%= ('has-danger' if @user.errors[:first_name].any?) %> col-xs-10'>
      <%= f.text_field :first_name, class: 'form-control' %>
      <% @user.errors[:first_name].each do |error| %>
        <div class="form-control-feedback">
        <%= error %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :last_name, class: 'col-xs-2 col-form-label' %>
    <div class='<%= ('has-danger' if @user.errors[:last_name].any?) %> col-xs-10'>
      <%= f.text_field :last_name, class: 'form-control' %>
      <% @user.errors[:last_name].each do |error| %>
        <div class="form-control-feedback">
        <%= error %>
      </div>
    <% end %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :phone_number, class: 'col-xs-2 col-form-label' %>
    <div class='<%= ('has-danger' if @user.errors[:phone_number].any?) %> col-xs-10'>
      <%= f.text_field :phone_number, class: 'form-control' %>
      <% @user.errors[:phone_number].each do |error| %>
        <div class="form-control-feedback">
        <%= error %>
      </div>
    <% end %>
    </div>
  </div>

  <div class='form-group row'>
    <%= label_tag 'location', 'Address', class: 'col-xs-2 col-form-label' %>
    <div class='col-xs-10'>
      <%= text_field_tag 'location', @user.address, data: {key: ENV['GOOGLE_API_KEY']},
          class: 'form-control autocomplete-places' %>
      <%= f.hidden_field :latitude, class: 'place-latitude' %>
      <%= f.hidden_field :longitude, class: 'place-longitude' %>
      <%= f.hidden_field :address, class: 'place-address' %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :password, class: 'col-sm-2 col-form-label' %>
    <div class='<%= ('has-danger' if @user.errors[:password].any?) %> col-xs-10'>
      <%= f.password_field :password, class: 'form-control' %>
      <% @user.errors[:password].each do |error| %>
        <div class="form-control-feedback">
          <%= error %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-group row'>
    <%= f.label :password_confirmation, class: 'col-sm-2 col-form-label' %>
    <div class='<%= ('has-danger' if @user.errors[:password_confirmation].any?) %> col-xs-10'>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% @user.errors[:password_confirmation].each do |error| %>
        <div class="form-control-feedback">
          <%= error %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='form-group row'>
    <div class='offset-xs-12 text-xs-center'>
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
