<div class="row">
  <div class="col-xs-12">
    <div>
      <center>
        <h2>New Closing Time</h2>
      </center>
    </div>
    <div class="spacer-30"></div>
  </div>
</div>

<% if @schedule.errors.any? %>
  <div class='row'>
    <div class='alert alert-danger' role='alert'>
      <ul>
        <% @schedule.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% activity_id = @schedule.activity.id %>
<%= form_tag("/activities/#{activity_id}/closed_schedules", method: :POST, id: 'new-closing-time-form') do %>
  <div class='row card card-block'>
    <div clas'col-xs-12'>
      <div class="custom-controls-stacked">
        <%= text_field_tag 'closed_schedule[label]', @schedule.label , class: 'form-control',
         placeholder: 'Label name ex. holiday' %>
      </div>
    </div>
  </div>

  <div class='row card card-block'>
    <div class='col-xs-6'>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag 'closed_schedule[closed_specific_day]', 'true',
            @schedule.closed_specific_day, id: 'specific-day-checkbox',
            class: 'form-check-input' %> On specific day
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag 'closed_schedule[closed_specific_day]', 'false',
            !@schedule.closed_specific_day, id: 'every-x-checkbox',
            class: 'form-check-input' %> Every
        </label>
      </div>
      <div class="spacer-20"> </div>
    </div>
    <div class='col-xs-6'>
      <div class="row <%= 'closing-time-inactive' unless @schedule.closed_specific_day %>" id='closed-on'>
        <div class='col-xs-6'>
          <%= text_field_tag 'closed_schedule[closed_on]', @schedule.closed_on, class: 'form-control', id: 'closed_on' %>
        </div>
      </div>
      <div class="row <%= 'closing-time-inactive' if @schedule.closed_specific_day %>" id='list-of-days'>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Monday',
            include?(@schedule.closed_days, 'Monday'),
            id: 'closed_schedule_closed_days_monday' %> Monday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Tuesday',
            include?(@schedule.closed_days, 'Tuesday'),
             id: 'closed_schedule_closed_days_tuesday' %> Tuesday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Wednesday',
            include?(@schedule.closed_days, 'Wednesday'),
            id: 'closed_schedule_closed_days_wednesday' %> Wednesday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Thursday',
            include?(@schedule.closed_days, 'Thursday'),
            id: 'closed_schedule_closed_days_thursday' %> Thursday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Friday',
            include?(@schedule.closed_days, 'Friday'),
            id: 'closed_schedule_closed_days_friday' %> Friday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Saturday',
            include?(@schedule.closed_days, 'Saturday'),
            id: 'closed_schedule_closed_days_saturday' %> Saturday
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_days][]", 'Sunday',
            include?(@schedule.closed_days, 'Sunday'),
            id: 'closed_schedule_closed_days_sunday' %> Sunday
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class='row card card-block'>
    <div class='col-xs-6'>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag 'closed_schedule[closed_all_day]', 'true',
            @schedule.closed_all_day, id: 'all-day-checkbox',
            class: 'form-check-input' %> All day
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <%= radio_button_tag  'closed_schedule[closed_all_day]', 'false',
          !@schedule.closed_all_day, id: 'specific-time-range-checkbox',
          class: 'form-check-input' %> Time range
        </label>
      </div>

      <div class="spacer-20"></div>
    </div>

    <div class='col-xs-6'>
      <div class="row <%= 'closing-time-inactive' if @schedule.closed_all_day %>" id='closing-time-range'>
        <div class='col-xs-5'>
          <%= text_field_tag 'closed_schedule[closing_begins_at]', '',
          class: 'form-control', id: 'closing_begins_at' %>
        </div>
        <span class='col-xs-2 text-xs-center'>-</span>
        <div class='col-xs-5'>
          <%= text_field_tag 'closed_schedule[closing_ends_at]', '',
          class: 'form-control', id: 'closing_ends_at' %>
        </div>
      </div>
    </div>
  </div>

<div class='row card card-block'>
  <div class='col-xs-6'>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag 'closed_schedule[closed_all_reservables]', 'true',
          @schedule.closed_all_reservables, id: 'all-reservable-checkbox',
          class: 'form-check-input' %> All <%= plural_form_of_reservable_type(@schedule.activity) %>
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <%= radio_button_tag  'closed_schedule[closed_all_reservables]', 'false',
        !@schedule.closed_all_reservables, id: 'specific-reservable-checkbox',
        class: 'form-check-input' %> Specific <%= plural_form_of_reservable_type(@schedule.activity) %>
      </label>
    </div>

    <div class="spacer-20"></div>
  </div>

  <div class='col-xs-6'>
    <div class="row <%= 'closing-time-inactive' if @schedule.closed_all_reservables %>" id='list-of-reservables'>
      <% @schedule.activity.reservables.each do |reservable| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= check_box_tag "closed_schedule[closed_reservables][]", reservable.id,
            include?(@schedule.closed_reservables, reservable.id),
            id: "closed_schedule_closed_reservables_#{reservable.id}" %>
            <%= reservable.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="spacer-20"></div>

  <%= hidden_field_tag 'closed_schedule[activity_id]', activity_id %>
  <div class='row text-xs-center'>
    <button type='submit' class='btn btn-primary' id='create-schedule-btn'>Submit</button>
  </div>
<% end %>
