<table class="table"<div class='row'>
  <thead>
    <tr>
      <th class='text-xs-center'>No.</th>
      <th class='text-xs-center'>Activity</th>
      <th class='text-xs-center'>Lane</th>
      <th class='text-xs-center'>Time</th>
      <th class='text-xs-center'>Date</th>
      <th class='text-xs-center'>Number of People</th>
      <th class='text-xs-center'>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each_with_index do |order, order_index| %>
      <% order.bookings.each_with_index do |booking, booking_index| %>
        <tr>
          <td class='text-xs-center'>
            <%= order_index + 1 if booking_index == 0 %>
          </td>
          <td class='text-xs-center'>
            <%= order.activity.name if booking_index == 0 %>
          </td>
          <td class='text-xs-center'>
            <%= booking.reservable_name %>
          </td>
          <td class='text-xs-center'>
            <%= present_range_of_time(booking.start_time, booking.end_time) %>
          </td>
          <td class='text-xs-center'>
            <%= present_date_in_day_month_format(booking.booking_date) %>
          </td>
          <td class='text-xs-center' id="booking_<%= booking.id %>">
            <%= booking.number_of_players %>
          </td>
          <td class='text-xs-center'>
            <%= present_booking_price(order.total_price)  if booking_index == 0 %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
