<div class='row'>
  <div class='col-xs-12'>
    <h1 class='text-xs-center'>Reservations</h1>
  </div>
</div>
<div class='spacer-30'></div>

<div class="row">
  <div class="col-xs-12">
    <div class="text-xs-center" id="searchbar-container">
      <%= form_tag(business_owner_reservations_path, method: 'get', class: 'form-inline', id: 'orders-reservations-form') do %>
        <div class='form-group'>
          <%= label_tag(:booking_date, 'Date') %>
          &nbsp;
          <%= text_field_tag 'booking_date', @date,
            class: 'form-control', id: 'reservations-booking-date' %>
          &nbsp;
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class='spacer-30'></div>
<%= render 'orders/reservations' %>

<% if @orders.present? %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Export to CSV",
        business_owner_reservations_path(
        format: "csv",
        booking_date: @date,
        activity_id: params[:activity_id]),
        class: "btn btn-primary" %>
      <%= link_to "Export to XLS",
        business_owner_reservations_path(
        format: "xls",
        booking_date: @date,
        activity_id: params[:activity_id]),
        class: "btn btn-primary m-l-1" %>
    </div>
  </div>
<%end%>
