<%- if @reservable.party_room? %>

  <%- if action == 'create' %>
    <div class='form-group row'>
      <%= label_tag 'sub_reservable', "Associated #{@reservable.sub_reservables_type}",
        class: 'col-sm-4 offset-sm-2 control-label' %>
      <div class='col-sm-2 text-xs-center'>
        <span><%= @reservable.sub_reservables_type %></span>
      </div>
      <div class='col-sm-3 text-xs-center'>
        <span>Priority number</span>
      </div>
    </div>

    <% @sub_reservables.each_with_index do |(key, value), index| %>
      <div class="<%= ('has-danger' if @reservable.errors[:sub_reservables].any?) %> form-group row">
        <div class="col-sm-2 <%= 'offset-sm-6' %>">
          <div class='form-check form-control'>
            <label class='form-check-label'>
              <%= check_box_tag "reservable[sub_reservables][#{index}][id]", key,
                value[:checked], class: 'form-check-input' %> <%= value[:name] %>
            </label>
          </div>
        </div>
        <div class='col-sm-3'>
          <%= select_tag "reservable[sub_reservables][#{index}][priority_number]",
            options_for_select(1..@reservable.sub_reservables_candidate.count,
              value[:priority_number]),
            class: 'form-control', disabled: value[:disabled] %>
        </div>
      </div>
    <% end %>

    <%- if @reservable.errors[:sub_reservables].any? %>
      <div class='has-danger form-group row'>
        <div class='col-sm-4 offset-sm-6'>
          <% @reservable.errors[:sub_reservables].each do |error| %>
            <div class='form-control-feedback'>
              <%= error %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="<%= ('has-danger' if @reservable.errors[:maximum_players_per_sub_reservable].any?) %> form-group row">
    <%= f.label :maximum_players_per_sub_reservable,
      "Maximum of players per #{@reservable.sub_reservables_type}",
      class: 'col-sm-4 offset-sm-2 control-label' %>
    <div class='col-sm-5'>
      <%= f.number_field :maximum_players_per_sub_reservable,
        { min: 0, class: 'form-control' } %>
      <% @reservable.errors[:maximum_players_per_sub_reservable].each do |error| %>
        <div class='form-control-feedback'>
          <%= error %>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
