<%= form_for @activity, as: :activity, url: {action: 'update'} do |f| %>
  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.label :name %>
    </div>
    <div class="<%= ('has-danger' if @activity.errors[:name].any?) %> col-xs-10">
      <%= f.text_field :name, placeholder: 'Activity name', class: 'form-control' %>
      <% @activity.errors[:name].each do |error| %>
        <div class="form-control-feedback">
          <%= error %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.label :start_time, class: 'col-form-label' %>
    </div>
    <div class="col-xs-4">
      <%= f.text_field :start_time, value: "#{present_time(f.object.start_time)}",
        class: 'form-control'%>
    </div>
    <div class="col-xs-2">
      <%= f.label :end_time, class: 'col-form-label' %>
    </div>
    <div class="col-xs-4">
      <%= f.text_field :end_time, value: "#{present_time(f.object.end_time)}",
        class: 'form-control'%>
    </div>

    <% if @activity.errors[:end_time].any? %>
      <div class="has-danger col-xs-12">
        <div class="row">
          <div class="col-xs-4 offset-xs-8">
            <% @activity.errors[:end_time].each do |error| %>
              <div class="form-control-feedback">
                <%= error %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <%= f.label :prevent_back_to_back_booking, 'Prevent back-to-back bookings:' %>
      <%= f.check_box :prevent_back_to_back_booking %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-xs-12">
      <%= f.label :allow_multi_party_bookings, 'Allow multi-party bookings:' %>
      <%= f.check_box :allow_multi_party_bookings %>
    </div>
  </div>
  <div class="from-group row">
    <div class="col-xs-12">
      <center>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </center>
    </div>
  </div>
<% end %>
