<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Edit Activity</h1>
    </center>
  </div>
</div>
<div class="spacer-40"></div>
<div class="row">
  <div class="col-xs-12">
    <%= form_for @activity, as: :activity, url: {action: 'update'} do |f| %>
      <div class="form-group">
        <div class="col-xs-3">
          <%= f.label :type, 'Activity Type:' %>
        </div>
        <div class="col-xs-9">
          <%= @activity.type%>
        </div>
      </div>
      <div class="<%= ('has-danger' if @activity.errors[:name].any?) %> form-group">
        <%= f.text_field :name, placeholder: 'Activity name', class: 'form-control' %>
        <% @activity.errors[:name].each do |error| %>
          <div class="form-control-feedback">
            <%= error %>
          </div>
        <% end %>
      </div>
      <div class="form-group">
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-4">
            <%= f.label :start_time, class: 'col-form-label' %>
          </div>
          <div class="col-xs-8 activity-time">
            <%= f.time_field :start_time, { value: '08:00'} %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-4">
            <%= f.label :end_time, class: 'col-form-label' %>
          </div>
          <div class="col-xs-8 activity-time">
            <%= f.time_field :end_time, { value: '16:00'} %>
          </div>
        </div>
      </div>
      <% if @activity.errors[:end_time].any? %>
        <div class="has-danger form-group">
          <div class="col-xs-12 col-md-6">
            <div class="col-xs-4"></div>
            <div class="col-xs-8"></div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="col-xs-4"></div>
            <div class="col-xs-8">
              <% @activity.errors[:end_time].each do |error| %>
                <div class="form-control-feedback">
                  <%= error %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group text-xs-center">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th><%=@activity.reservable_type%></th>
          <th>Interval</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Maximum players</th>
          <th>Weekday price</th>
          <th>Weekend price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @activity.reservables.active.each do |reservable| %>
          <tr>
            <td><%= reservable.name %></td>
            <td><%= reservable.interval %></td>
            <td><%= present_time(reservable.start_time)%></td>
            <td><%= present_time(reservable.end_time)%></td>
            <td><%= reservable.maximum_players %></td>
            <td>$<%= reservable.weekday_price %></td>
            <td>$<%= reservable.weekend_price %></td>
            <td>
              <%= link_to 'Edit', edit_reservable_path(reservable), class: 'btn btn-primary'%>
              <%= link_to 'Delete', reservable_path(reservable), class: 'btn btn-danger', method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </div>
</div>
