.row
  .col-xs-12
    %center
      %h1= "#{@business.name} Activities"
.spacer-30
.row
  .col-xs-12
    %center
      - if @activities.any?
        %table.table
          %thead
            %tr
              %th #
              %th Name
          %tbody
            - @activities.each_with_index do |activity, index|
              %tr
                %th{scope: 'row'}= index + 1
                %td= activity.name
        .spacer-30
        #new-business
          = link_to 'Add activity', new_business_activity_path(@business), class: 'btn btn-primary'
      - else
        %span You haven't created any activities.
        %br
        = link_to 'Create Activity', new_business_activity_path(@business)
