.row
  .col-xs-12
    %center
      %h1 Create Activity
.spacer-40
.row
  .col-xs-12
    = form_for @activity, url: {action: 'create'} do |f|
      .form-group
        .col-xs-3
          = f.label :type, 'Activity Type:'
        .col-xs-9
          = f.select :type, Activity.types.collect {|t| [t.underscore.humanize, t]}
      .form-group{class: ('has-danger' if @activity.errors[:name].any?)}
        = f.text_field :name, placeholder: 'Activity name', class: 'form-control'
        - @activity.errors[:name].each do |error|
          .form-control-feedback
            = error
      .form-group
        .col-xs-12.col-md-6
          .col-xs-4
            = f.label :start_time, class: 'col-form-label'
          .col-xs-8.activity-time
            = f.time_select :start_time, default: {hour: '08', minute: '00'}
        .col-xs-12.col-md-6
          .col-xs-4
            = f.label :end_time, class: 'col-form-label'
          .col-xs-8.activity-time
            = f.time_select :end_time, default: {hour: '16', minute: '00'}
      - if @activity.errors[:end_time].any?
        .form-group{ class: 'has-danger' }
          .col-xs-12.col-md-6
            .col-xs-4
            .col-xs-8
          .col-xs-12.col-md-6
            .col-xs-4
            .col-xs-8
              - @activity.errors[:end_time].each do |error|
                .form-control-feedback
                  = error
      .form-group.text-xs-center
        = f.submit 'Submit', class: 'btn btn-primary'
