<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <title>OpenPlay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render 'layouts/javascript_variables' %>
    <% if Rails.env.production? %>
      <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <% else %>
        <%= javascript_include_tag 'checkout' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/shared/navbar' %>
    <% if notice || alert %>
      <%= render 'layouts/shared/alert' %>
    <% end %>
    <%= yield %>
  </body>
</html>
